@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin-bottom: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 42px;


}

ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    padding: 0;
    margin: 0;
}

li.pick-one {
    text-align: center;

}

li.pick-one button {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: 2.67511px solid #000000;
    height: 355px;
    width: 325px;
}

li.pick-one button:hover {
    border: 10px solid rgba(255, 184, 0, 1);
}

li.pick-one img {
    max-width: 250px;
    max-height: 250px;
}

body.winner.computer-wins .wrapper{
    display: flex;
    justify-content: center;
}
.play-again {
margin: 0;
padding: 0;
position: absolute;
bottom: 100px;
border: 2.67511px solid #000000;
background: white;
width: 350px;
height: 65px;
font-size: 30px;
font-weight: bold;
}
.play-again:hover {
    background: rgba(73,155,234,1);

}
.your-pick img {
    margin-right: 300px;
    width: 473px;
}
.computer-pick img {
    margin-left: 100px;
    transform: scaleX(-1);
    width: 673px;
}
.your-win, .computer-win {
    visibility: hidden;
}
