@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 'Pen Sans', sans-serif;
}

.wrapper {
    max-width: 1110px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin-bottom: 75px;
}

a {
    text-decoration: none;
}

.question {
    background: white;
    border: 5px solid #000000;
    padding: 25px 28px 25px 130px;
    color: black;
    font-weight: 800;
    font-size: 28.4772px;
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 55px);
}

.question::before {
    content: '';
    display: block;
    background: black;
    width: 102px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.question::after {
    content: '';
    width: 100%;
    position: absolute;
    right: -55px;
    top: 15px;
    height: calc(100% + 15px);
    background: #f0f0f0 url('./images/chevron.svg') calc(100% - 12px) 20px 
    no-repeat;
    z-index: -1;
}

a:hover .question::after {
    background-color: #FFDD00;
}
.expand .question::after {
    background: #FFDD00 url('./images/close.svg') calc(100% - 12px) 20px 
    no-repeat;
}
.question-img {
    position: absolute;
    left: 10px;
    top: -45px;
}
.answer {
    display: none;
}
.answer p {
    font-weight: 600px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.expand .answer {
    display: block;
    background-color: #FFDD00;
    width: calc(100% - 60px);
    margin-left: 55px;
    padding: 30px 70px;
    box-sizing: border-box;    
}