body {
    background: #37B2C3;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.white-keys {
    fill: white;
}



/* .white-keys:hover {
    fill: #ffd200;
} */
a:hover .white-keys{
    fill: #ffd200;
}




.black-keys {
    fill: black;
}

.black-keys:hover {
    fill: #f40082;
}